@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
:root{
  --bg-color: linear-gradient(to right, #fef3c7, #faebd7);
}

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.scroll-container {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}


@keyframes hero {
  0%{
    transform: translateY(-100%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 100;
  }
}
@keyframes hero-person {
  0%{
    transform: translateX(10%);
  }
  100%{
    transform: translateY(0);
  }
}


.ani-hero{
  animation: hero 1s ease-in-out;
}
.ani-hero-person{
  animation: hero-person 500ms ease-in-out;
}